<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <title>PMSLogin</title>
</head>
<body>
    <h1>Login</h1>
    <div class = "container">
        <form action="#" name="loginForm">
            <label for="emailAd">Username</label><br>
            <input type="text" id="emailAdmin" name="emailAdmin" value="" required><br><br>
            
            <label for="adminpwd">Password</label><br>
            <input type="password" id="adminpwd" name="adminpwd" required><br><br>
            
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>