<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Main Menu</title>

    <link rel="stylesheet" href="admin.css">
</head>
<body>

  <!-- Topbar-->
 <div class="topnav">
  <a class="active" href="#home">PMSystems</a>
  <a href="#search">Search</a>
  <a class="noti" href="#notification">noti</a>
  <a class="profile" href="#profile">profile</a>
</div>

<!-- Sidebar -->
  <div class="sidebar">
    <header>Menu</header>
    <ul>
      <li><a href="#"><i class="fas fa-dashboard"></i>Dashboard</a></li>
      <li><a href="#"><i class="far fa-schedule"></i>Schedule</a></li>
      <li><a href="#"><i class="fas fa-therapist"></i>Therapist</a></li>
      <li><a href="#"><i class="far fa-patient"></i>Patient</a></li>
      <li><a href="#"><i class="fas fa-record"></i>Record</a></li>
      <li><a href="#"><i class="far fa-logout"></i>Log Out</a></li>
    </ul>
  </div>
<!--content-->
<div style="margin-left:25%">
<div>      
  <h1>Dashboard Overview</h1>
      <input type="submit" value="Patient" id="patientdashboard"><br>
      <input type="submit" value="Therapist" id="therapistdashboard">
</div>
</body>
</html>