<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <title>Admission</title>
</head>
<body>
 <!-- Topbar-->
  <div class="topnav">
    <a class="active" href="#home">PMSystems</a>
    <a href="#search">Search</a>
    <a class="noti" href="#notification">notification</a>
    <a class="profile" href="#profile">profile</a>
  </div>

  <!-- Sidebar -->
<div class="sidebar">
    <header>Menu</header>
    <ul>
      <li><a href="#dashboard"><i class="fas fa-dashboard"></i>Dashboard</a></li>
      <li><a href="#schedule"><i class="far fa-schedule"></i>Schedule</a></li>
      <li><a href="#therapist"><i class="fas fa-therapist"></i>Therapist</a></li>
      <li><a href="#patient"><i class="far fa-patient"></i>Patient</a></li>
      <li><a href="#record"><i class="fas fa-record"></i>Record</a></li>
      <li><a href="#logout"><i class="far fa-logout"></i>Log Out</a></li>
    </ul>
  </div>

  <!--content-->
  <div style="margin-left:25%">
  
    <div class="w3-container w3-teal">
<div style="margin-left:25%"></div>
<h1>Admission</h1>
<div class = "container">
    <form action="#" name="admission">

        <label for="icpatient">Patient IC</label><br>
        <input type="text" id="icpatient" name="icpatient" required><br><br>
        
        <input type="submit" value="Search">
        <input type="submit" value="Register">
    </form>
</div>
</div>