<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMSLogin</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label for="adminusername"></label><br>
        <input type="text" id="adminusername" name="adminusername" value="" required><br><br>
        
        <label for="adminpwd"></label>
        <input type="adminpassword" id="adminpwd" name="adminpwd" required><br><br>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>