<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <title>Therapist</title>
</head>
<body>
 <!-- Topbar-->
  <div class="topnav">
    <a class="active" href="#home">PMSystems</a>
    <a href="#search">Search</a>
    <a class="noti" href="#notification">notification</a>
    <a class="profile" href="#profile">profile</a>
  </div>

  <!-- Sidebar -->
<div class="sidebar" style="width:25%">
    <ul>
      <li><a href="#"><i class="fas fa-dashboard"></i>Dashboard</a></li>
      <li><a href="#"><i class="far fa-schedule"></i>Schedule</a></li>
      <li><a href="#"><i class="fas fa-therapist"></i>Therapist</a></li>
      <li><a href="#"><i class="far fa-patient"></i>Patient</a></li>
      <li><a href="#"><i class="fas fa-record"></i>Record</a></li>
      <li><a href="#"><i class="fas fa-logout"></i>Log Out</a></li>
    </ul>
  </div>
  
  <!-- Page Content -->
  <div style="margin-left:25%">
  
  <div class="w3-container w3-teal">
<!--content-->
<div style="margin-left:25%"></div>
<h1>Patient Details</h1>
<div class = "container">
    <form action="#" name="therapistsearch">
        <label for="Patientname">Patient Name</label><br>
        <input type="text" id="Patientname" name="Patientname" value="" required><br><br>
        
        <label for="icpatient">Patient IC</label><br>
        <input type="text" id="icpatient" name="icpatient" required><br><br>
        
        <input type="submit" value="Search">
    </form>
</div>
  
  </div>

    
</body>
</html>