<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <title>Registration Patient</title>
</head>
<body>
  <!-- Topbar-->
  <div class="topnav">
    <div class="top-left"></div>
      <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\hamburger.png" width="4%" height="4%" alt="Avatar" class="hamburger">
      <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\logoPMS.png" width="4%" height="4%" alt="Avatar" class="logo">
      <a class="home" href="#">PM</a>
      <a class="home1" href="#">Systems</a>
    </div>
    
    <input type="text" id="search" name="search" value="  Search"><img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\enter.png" width="4%" height="4%" alt="Avatar" class="enter">
  
    <div class="top-right">
      <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\bell-ring.png" width="4%" height="4%" alt="Avatar" class="bell">
      <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\profile.png" width="4%" height="4%" alt="Avatar" class="profile">
      <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\down.png" width="4%" height="4%" alt="Avatar" class="down">
    </div>
  </div>

  <!-- Sidebar -->
 <div class="sidebar">
    <p class="menu">Menu</p>
    <ul>
      <a href="#" class="dash">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\dashboard.png" class="dashboard"><i class="fas fa-dashboard"></i>Dashboard</a>
      <a href="#" class="sch">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\schedule.png" class="schedule"></i><i class="far fa-schedule"></i>Schedule</a>
      
      <a href="#" class="line1"></a>
        <a href="#" class="ther">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\therapist.png" width="6%" height="6%" alt="Avatar" class="therapist"><i class="fas fa-therapist"></i>Therapist</a>
      <a href="#" class="pat">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\patient.png" width="6%" height="6%" alt="Avatar" class="patient"></i><i class="far fa-patient"></i>Patient</a>
      <a href="#" class="rec">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\record.png" width="6%" height="6%" alt="Avatar" class="record"><i class="fas fa-record"></i>Record</a>
      
      <a href="#" class="line2"></a>
      <a href="#" class="log">
        <img src="C:\Users\USER\PMS\PMS\src\main\resources\templates\icon-menu\logout.png" width="6%" height="6%" alt="Avatar" class="logout"><i class="far fa-logout"></i>Log Out</a>
    </ul>
  </div>
  
  <!-- Page Content -->
 
<div class="registration-form">
<h1>Registration form</h1>
</div>
<div class = "dcontainer">
    <form action="#" id="formreg" name="registerform">

        <label for="ref" id="ref1">Ref_No</label>
        <input type="text" id="ref2" name="ref" value="" required>
        <label for="date" id="date1">Date</label>
        <input type="date" id="date2" name="date" value="" required><br><br>
        
        <label for="name" id="name1">Name</label>
        <input type="text" id="name2" name="name" value="" required>
        <label for="status" id="status1">Status</label>
        <input type="text" id="status2" name="status" value="" required><br><br>

        <label for="sex" id="sex1">Sex</label>
        <input type="text" id="sex2" name="sex" value="" required>
        <label for="dateBirth" id="datebirth1">Date Birth</label>
        <input type="date" id="dateBirth2" name="dateBirth" value="" required><br><br>

        <label for="address" id="address1">Address</label>
        <input id="address" name="address2" value="" required>
        <label for="numphone" id="numphone1">Phone No.</label>
        <input type="text" id="numphone2" name="numphone" value="" required><br><br>

        <label for="drug" id="drug1">Drugs Type</label>
        <input type="text" id="drug2" name="drug" required>
        <label for="blood" id="blood1">Blood Group</label>
        <input type="text" id="blood2" name="blood" required><br><br>
        
        
        <input type="reset" id="resbutt" value="reset">
        <input type="submit" id="subbutt" value="submit">
    </form>
</div>

    
</body>
</html>