<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <title>Therapist</title>
</head>
<body>
 <!-- Topbar-->
  <div class="topnav">
    <a class="active" href="#home">PMSystems</a>
    <a href="#search">Search</a>
    <a class="noti" href="#notification">notification</a>
    <a class="profile" href="#profile">profile</a>
  </div>

  <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <ul>
      <li><a href="#"><i class="fas fa-dashboard"></i>Dashboard</a></li>
      <li><a href="#"><i class="far fa-schedule"></i>Schedule</a></li>
      <li><a href="#"><i class="fas fa-therapist"></i>Therapist</a></li>
      <li><a href="#"><i class="far fa-patient"></i>Patient</a></li>
      <li><a href="#"><i class="fas fa-record"></i>Record</a></li>
    </ul>
  </div>
  
  <!-- Page Content -->
  <div style="margin-left:25%">
  
  <div class="w3-container w3-teal">
<!--content-->
<div style="margin-left:25%"></div>
<h1>Registration form</h1>
<div class = "container">
    <form action="#" name="registerform">

        <label for="ref">Ref_No</label><br>
        <input type="text" id="ref" name="ref" value="" required><br><br>
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" value="" required><br><br>
        <label for="sex">Sex</label><br>
        <input type="text" id="sex" name="sex" value="" required><br><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" value="" required><br><br>
        <label for="address">Address</label><br>
        <input type="text" id="address" name="address" value="" required><br><br>
        <label for="date">Date</label><br>
        <input type="date" id="date" name="date" value="" required><br><br>
        <label for="status">Status</label><br>
        <input type="text" id="status" name="status" value="" required><br><br>
        <label for="dateBirth">Date Birth</label><br>
        <input type="date" id="dateBirth" name="dateBirth" value="" required><br><br>
        <label for="numphone">Phone No.</label><br>
        <input type="text" id="numphone" name="numphone" value="" required><br><br>
        <label for="quali">Qualification</label><br>
        <input type="text" id="quali" name="quali" required><br><br>
        <label for="special">Speciality</label><br>
        <input type="text" id="special" name="special" required><br><br>
        <label for="state">State</label><br>
        <input type="text" id="state" name="state" required><br><br>
        
        
        <input type="submit" value="Search">
    </form>
</div>
</div>

    
</body>
</html>