<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Registration Patient</title>
    <style>
      body {
  background-image: url("https://cdn.wallpapersafari.com/22/23/8wlVC4.png");
  background-size: cover;
  background-position: center;
}
      .custom-form {
        background-color: #FFCBC0;
        color: #333;
      }
    </style>
</head>
<body>
  <!-- Page Content -->
 
    <div class="container mt-4">
      <div class="text-center">
        <h2>Registration Form</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card" style="background-color: #FFCBC0;">
          <div class="card">
            <div class="card-body custom-form">
        <form>
          <div class="form-group text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/18/18601.png" alt="Upload Icon" class="img-fluid" style="max-width: 50px;">
            <br>
            <label for="picture">Picture Upload</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="picture">
              <label class="custom-file-label" for="picture">Choose File</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="refNo">Ref_No</label>
              <input type="text" class="form-control" id="refNo" placeholder="Ref_No">
            </div>
            <div class="form-group col-md-6">
              <label for="date">Date</label>
              <input type="text" class="form-control" id="date" placeholder="Date">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="status">Status</label>
              <input type="text" class="form-control" id="status" placeholder="Status">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="sex">Sex</label>
              <input type="text" class="form-control" id="sex" placeholder="Sex">
            </div>
            <div class="form-group col-md-6">
              <label for="dob">Date of Birth</label>
              <input type="text" class="form-control" id="dob" placeholder="Date of Birth">
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone No.</label>
              <input type="text" class="form-control" id="phone" placeholder="Phone No.">
            </div>
            <div class="form-group col-md-6">
              <label for="drugType">Drug Type</label>
              <input type="text" class="form-control" id="drugType" placeholder="Drug Type">
            </div>
          </div>
          <div class="form-group text-center">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>