<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="icon" th:href="@{/icon/logoPMS.png}">
    <title>Add Account</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous">
   <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

</head>
<body>
        <!-- Start Nav Bar -->
        <nav class="navbar fixed-top" style="border-bottom: 1px solid #cecece !important;">
          <div class=" d-flex flex-row">
              <a class="hamburger navbar-brand" href="#"> <img
                  th:src="@{/icon/hamburger.png}" alt="Logo" width="25"
                  height="30"></a>
              <div class="container d-flex flex-row justify-content-start">
              <a class="navbar-brand" href="#"> <img
                  th:src="@{/icon/logoPMS.png}" alt="Logo" width="35"
                  height="35" class="d-inline-block align-text-top"> PMSystems
              </a>
              </div>
          </div>
          
            <div class="dropdown justify-content-end nav-item" style="margin-right: 40px;">
              <button class="btn dropdown-toggle" type="button" id="settingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-symbols-outlined"
                  style="margin-top: 10px;" > settings </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm" aria-labelledby="settingsDropdown">
                <!-- Dropdown menu items -->
                <a class="dropdown-item" th:href="@{/logout}">LogOut</a>
              </div>
            </div>
            
          </div>            
      </nav>
  
      <!-- End Nav Bar-->

<!-- Start Side Bar-->
<div id="sidebar" class="d-flex flex-column flex-shrink-0 text-black bg-white col-2 mt-5 position-fixed" style="height: 92%;">
  <ul class="nav nav-underline flex-column mb-auto" style="padding-left: 40px;">
      <h5 style="margin-top: 20px;">Menu</h5>
      <li><a th:href="@{/adminmainmenu}"
          class="nav-link text-black d-flex justify-content-start"
          aria-current="page"><span class="material-symbols-outlined"
          style="margin-right: 20px;"> dashboard </span> Dashboard </a></li>
      <li class="nav-item"><a th:href="@{/view-account}"
            class="nav-link text-black active d-flex justify-content-start">
            <span class="material-symbols-outlined"
            style="margin-right: 20px;"> person_apron </span> Account
      </a></li>
      <li class="nav-item"><a th:href="@{/admissionIn}"
          class="nav-link text-black d-flex justify-content-start">
              <span class="material-symbols-outlined"
              style="margin-right: 20px;"> group_add </span>Admission
      </a></li>
  <hr class="hr-line">
      
      <li><a th:href="@{/therapist}"
          class="nav-link text-black d-flex justify-content-start"
          aria-current="page"><span class="material-symbols-outlined"
              style="margin-right: 20px;"> psychology </span> Therapist </a></li>

      <li class="nav-item"><a th:href="@{/patient}"
          class="nav-link text-black d-flex justify-content-start"><span
          class="material-symbols-outlined" style="margin-right: 20px;">ward </span>Patient</a></li>
      
          <li class="nav-item"><a href="#"
            class="nav-link text-black d-flex justify-content-start">
                <span class="material-symbols-outlined"
                style="margin-right: 20px;"> article </span>Record
        </a></li>
  </ul>
  <hr style="margin-bottom: 0px !important;">
</div>
<!-- End Side Bar-->
  <!--content-->
<div class="offset-2" style="margin-top: 5%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h2 class="text-center">Account</h2>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-end col-8">
      <!-- Add New Account Button -->
      <div class="text-end">
        <a th:href="@{/add-account}">
          <button class="btn btn-success btn-sm me-2" type="button">+ New Account</button>
        </a>
      </div>
    </div>
  </div>
  

    <!-- Staff Accounts -->

    <div name="staffTable" class="d-flex justify-content-center align-items-center mt-2">
      <div class="d-flex justify-content-center col-8">
          <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Role</th> 
                    <th scope="col">Manage</th> 
                   
                </tr>
            </thead>
            <tbody>
                <!-- Use Thymeleaf loop to iterate over the employees -->
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}"></td> 
                    <td th:text="${user.usr}"></td> 
                    <td th:text="${user.pwd}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-submit btn-sm" type="button" id="dropdownMenuButton${i}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm custom-dropdown-menu" aria-labelledby="dropdownMenuButton${i}">
                          <a class="dropdown-item" th:href="@{/update-account(id=${user.id})}">Edit</a>
                          <!-- <a class="dropdown-item" th:href="@{/delete-account(id=${user.id})}">Delete</a> -->
                          <a class="dropdown-item" th:data-id="${user.id}" data-toggle="modal" data-target="#deleteModal" style="cursor: pointer;">Delete</a>
                        </div>
                      </div>                                                                                                                                     
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this item?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteButton" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>

      </div> 
    </div>

    <footer class="d-flex justify-content-center">
        <p>&copy; <span id="currentYear"></span> Patient Management System. All rights reserved.</p>
    </footer>
</div>
<!-- modal js -->
<script>
  $(document).ready(function() {
    $('#deleteModal').on('show.bs.modal', function(event) {
      var deleteId = $(event.relatedTarget).data('id');
      var deleteUrl = '/delete-account?id=' + deleteId;
      $('#deleteButton').attr('href', deleteUrl);
    });

    $('#deleteButton').click(function(event) {
      event.preventDefault();
      var deleteUrl = $(this).attr('href');

      // Send a GET request to the deleteUrl
      $.get(deleteUrl, function() {
        // Refresh the page after successful deletion
        location.reload();
      }).fail(function() {
        // Handle any errors
        alert('An error occurred while deleting the account.');
      });

      $('#deleteModal').modal('hide');
    });
  });
</script>

</body>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
                integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
                crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
            
                <!-- <script src="script.js"></script> -->
</html>