<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Patient List</title>
</head>
<body>
    <!-- Topbar-->
  <div class="topnav">
    <a class="active" href="#home">PMSystems</a>
    <a href="#search">Search</a>
    <a class="noti" href="#notification">notification</a>
    <a class="profile" href="#profile">profile</a>
  </div>

  <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <ul>
      <li><a href="#"><i class="fas fa-dashboard"></i>Dashboard</a></li>
      <li><a href="#"><i class="far fa-schedule"></i>Schedule</a></li>
      <li><a href="#"><i class="fas fa-therapist"></i>Therapist</a></li>
      <li><a href="#"><i class="far fa-patient"></i>Patient</a></li>
      <li><a href="#"><i class="fas fa-record"></i>Record</a></li>
    </ul>
</div>

<form action="patientdetails.html" class="patientsearch">
    <label for="PatientName">Patient name: </label>
    <input type="text" id="PatientName" name="PatientName"><br><br>
    <label for="PatientIc">Patient's IC: </label>
    <input type="text" id="PatientIc" name="PatientIc"><br><br>
    <a href="C:\Users\user\git\PMS\src\main\resources\templates\patient\patientdetails.html">
        <img src="C:\Users\user\git\PMS\src\main\resources\templates\icon\search.png">
    </a>
  </form>

</body>