.patientsearch {
    #position: absolute;
    width: 990px;
    height: 173px;
    left: 392px;
    top: 101px;
    
}

#patientname {
    position: absolute;
width: 828px;
height: 61.78px;
left: 417px;
top: 115px;
}