<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMSLogin</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label for="username"></label><br>
        <input type="text" id="username" name="username" value="" required><br><br>
        
        <label for="pwd"></label>
        <input type="password" id="pwd" name="pwd" required><br><br>
    </form>
</body>
</html>